@page
@model TrustBankApp.Pages.Users.UpdateUserModel
@{
    
}

<div class="container mt-5 pt-5">
    <div class="container mt-5 p-5 box-theme text-light rounded-2 w-75" style="margin-bottom: 150px">
        <h1 class="fs-1 fw-bolder"><span class="text-warning">UPDATE </span>USER</h1>
        <hr />
        <h3>USER NAME: <span class="text-warning">@Model.EditUserVM.UserName</span></h3>
        <hr />
        <div class="">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-12">
                        <div class="row col-12">
                            <div class="mb-3 col-12">
                                <label asp-for="EditUserVM.PhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" asp-for="EditUserVM.PhoneNumber" placeholder="enter phone number here" />
                                <span class="text-danger" asp-validation-for="EditUserVM.PhoneNumber"></span>
                            </div>

                            @*Password Fields*@
                            <div class="mb-3 col-12">
                                <label asp-for="EditUserVM.OldPassword" class="form-label">Old Password</label>
                                <input type="password" class="form-control" asp-for="EditUserVM.OldPassword" />
                                <span class="text-danger" asp-validation-for="EditUserVM.OldPassword"></span>
                            </div>
                            <div class="mb-3 col-12">
                                <label asp-for="EditUserVM.NewPassword" class="form-label">New Password</label>
                                <input type="password" class="form-control" asp-for="EditUserVM.NewPassword" />
                                <span class="text-danger" asp-validation-for="EditUserVM.NewPassword"></span>
                            </div>
                            <div class="mb-3 col-12">
                                <label asp-for="EditUserVM.ConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" asp-for="EditUserVM.ConfirmPassword" />
                                <span class="text-danger" asp-validation-for="EditUserVM.ConfirmPassword"></span>
                            </div>

                            <div>
                            <input asp-for="EditUserVM.UserRole" type="radio" value="Admin" />
                            <label asp-for="EditUserVM.UserRole">Administrator</label> <br />

                            <input asp-for="EditUserVM.UserRole" type="radio" value="Cashier" />
                            <label asp-for="EditUserVM.UserRole">Cashier</label> <br />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <button type="submit" class="btn btn-warning p-2">
                        <i class="fa-solid fa-floppy-disk"></i>
                        &nbsp;Update
                    </button>
                    <a class="btn btn-primary p-2"
                       asp-page="/Users/Users">
                        <i class="fa-solid fa-arrow-left"></i>
                        Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}